// signupstep2
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.layout{
    .container{
        // width: 1305px;
        padding: 0;
        margin: 0 15rem;
    }
    .header{
        margin: 50px 0;
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                .img-block{
                    width: 180px;
                    height: 160px;
                    margin-left: 45px;
                    img{
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            } 
            .language{
                display: flex;
                align-items: center;
                padding-right: 5px;
                .img-block{
                    width: 120px;
                    height: 70px;
                    .img{
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .tiengviet{
                    display: flex;
                    align-items: center;
                    &:before{
                        content: '';
                        display: block;
                        height: 120px;
                        width: 2px;
                        background-color: #86909078;
                        border-radius:50%;
                        margin: 0 25px;
                        background-color: #14b4f0;
                    }
                }
            }
        }
    }
    .bg-video{
        position: relative;
        margin: 50px 0;
        padding: 0;
        .bg-block{
            position: relative;
            &:before{
            content: '';
            display: block;
            padding-top: 40%; 
            }
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }
        .container{
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            transform: translateX(-50%);
            .video-block{
                position: relative;
                width: 100%;
                height: 100%;
                video{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .nav-btn{
        margin: 50px 0;
        .menu{
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            display: flex;
            width: 100%;
        }
        .btn{
            display: flex;
            padding: 0;
            .btn-bt{
                text-transform: uppercase;
                border: none;
                outline: none;
                background: rgba(226,227,227,1);
                background: -moz-linear-gradient(top, rgba(226,227,227,1) 0%, rgba(232,233,233,1) 33%, rgba(238,238,239,1) 65%, rgba(244,244,244,1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,227,227,1)), color-stop(33%, rgba(232,233,233,1)), color-stop(65%, rgba(238,238,239,1)), color-stop(100%, rgba(244,244,244,1)));
                background: -webkit-linear-gradient(top, rgba(226,227,227,1) 0%, rgba(232,233,233,1) 33%, rgba(238,238,239,1) 65%, rgba(244,244,244,1) 100%);
                background: -o-linear-gradient(top, rgba(226,227,227,1) 0%, rgba(232,233,233,1) 33%, rgba(238,238,239,1) 65%, rgba(244,244,244,1) 100%);
                background: -ms-linear-gradient(top, rgba(226,227,227,1) 0%, rgba(232,233,233,1) 33%, rgba(238,238,239,1) 65%, rgba(244,244,244,1) 100%);
                background: linear-gradient(to bottom, rgba(226,227,227,1) 0%, rgba(232,233,233,1) 33%, rgba(238,238,239,1) 65%, rgba(244,244,244,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e3e3', endColorstr='#f4f4f4', GradientType=0 );
                font-size: 18px;
                padding: 25px;
                font-weight: bold;
                color: #767676;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
            }
            .btn-bt:not(:first-child){
                border-left: 1px solid #cccccc;
            }
            .active{
                background: rgba(14,68,140,1);
                background: -moz-linear-gradient(top, rgba(14,68,140,1) 0%, rgba(20,89,163,1) 33%, rgba(30,114,193,1) 65%, rgba(35,129,212,1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(14,68,140,1)), color-stop(33%, rgba(20,89,163,1)), color-stop(65%, rgba(30,114,193,1)), color-stop(100%, rgba(35,129,212,1)));
                background: -webkit-linear-gradient(top, rgba(14,68,140,1) 0%, rgba(20,89,163,1) 33%, rgba(30,114,193,1) 65%, rgba(35,129,212,1) 100%);
                background: -o-linear-gradient(top, rgba(14,68,140,1) 0%, rgba(20,89,163,1) 33%, rgba(30,114,193,1) 65%, rgba(35,129,212,1) 100%);
                background: -ms-linear-gradient(top, rgba(14,68,140,1) 0%, rgba(20,89,163,1) 33%, rgba(30,114,193,1) 65%, rgba(35,129,212,1) 100%);
                background: linear-gradient(to bottom, rgba(14,68,140,1) 0%, rgba(20,89,163,1) 33%, rgba(30,114,193,1) 65%, rgba(35,129,212,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e448c', endColorstr='#2381d4', GradientType=0 );
                color: #fff;
            }
        }
        .menu:hover{
            .btn-bt{
                text-transform: uppercase;
                border: none;
                outline: none;
                background: rgba(226,227,227,1);
                background: -moz-linear-gradient(top, rgba(226,227,227,1) 0%, rgba(232,233,233,1) 33%, rgba(238,238,239,1) 65%, rgba(244,244,244,1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,227,227,1)), color-stop(33%, rgba(232,233,233,1)), color-stop(65%, rgba(238,238,239,1)), color-stop(100%, rgba(244,244,244,1)));
                background: -webkit-linear-gradient(top, rgba(226,227,227,1) 0%, rgba(232,233,233,1) 33%, rgba(238,238,239,1) 65%, rgba(244,244,244,1) 100%);
                background: -o-linear-gradient(top, rgba(226,227,227,1) 0%, rgba(232,233,233,1) 33%, rgba(238,238,239,1) 65%, rgba(244,244,244,1) 100%);
                background: -ms-linear-gradient(top, rgba(226,227,227,1) 0%, rgba(232,233,233,1) 33%, rgba(238,238,239,1) 65%, rgba(244,244,244,1) 100%);
                background: linear-gradient(to bottom, rgba(226,227,227,1) 0%, rgba(232,233,233,1) 33%, rgba(238,238,239,1) 65%, rgba(244,244,244,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e3e3', endColorstr='#f4f4f4', GradientType=0 );
                font-weight: bold;
                color: #767676;
            }
            .btn-bt:not(:first-child){
                border-left: 1px solid #cccccc;
            }
            .btn-bt:hover{
                cursor: pointer;
                background: rgba(14,68,140,1);
                background: -moz-linear-gradient(top, rgba(14,68,140,1) 0%, rgba(20,89,163,1) 33%, rgba(30,114,193,1) 65%, rgba(35,129,212,1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(14,68,140,1)), color-stop(33%, rgba(20,89,163,1)), color-stop(65%, rgba(30,114,193,1)), color-stop(100%, rgba(35,129,212,1)));
                background: -webkit-linear-gradient(top, rgba(14,68,140,1) 0%, rgba(20,89,163,1) 33%, rgba(30,114,193,1) 65%, rgba(35,129,212,1) 100%);
                background: -o-linear-gradient(top, rgba(14,68,140,1) 0%, rgba(20,89,163,1) 33%, rgba(30,114,193,1) 65%, rgba(35,129,212,1) 100%);
                background: -ms-linear-gradient(top, rgba(14,68,140,1) 0%, rgba(20,89,163,1) 33%, rgba(30,114,193,1) 65%, rgba(35,129,212,1) 100%);
                background: linear-gradient(to bottom, rgba(14,68,140,1) 0%, rgba(20,89,163,1) 33%, rgba(30,114,193,1) 65%, rgba(35,129,212,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e448c', endColorstr='#2381d4', GradientType=0 );
                color: #fff;
            }
        }
    }
    .content{
        margin: 50px 0;
        .title{
            h1{
                font-family: sans-serif ;
                padding: 15px 30px;
                font-size: 45px;
                color: #fff;
                background: rgba(1,13,99,1);
                background: -moz-linear-gradient(left, rgba(1,13,99,1) 0%, rgba(1,41,122,1) 27%, rgba(3,76,149,1) 53%, rgba(4,117,182,1) 76%, rgba(6,144,204,1) 100%);
                background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,13,99,1)), color-stop(27%, rgba(1,41,122,1)), color-stop(53%, rgba(3,76,149,1)), color-stop(76%, rgba(4,117,182,1)), color-stop(100%, rgba(6,144,204,1)));
                background: -webkit-linear-gradient(left, rgba(1,13,99,1) 0%, rgba(1,41,122,1) 27%, rgba(3,76,149,1) 53%, rgba(4,117,182,1) 76%, rgba(6,144,204,1) 100%);
                background: -o-linear-gradient(left, rgba(1,13,99,1) 0%, rgba(1,41,122,1) 27%, rgba(3,76,149,1) 53%, rgba(4,117,182,1) 76%, rgba(6,144,204,1) 100%);
                background: -ms-linear-gradient(left, rgba(1,13,99,1) 0%, rgba(1,41,122,1) 27%, rgba(3,76,149,1) 53%, rgba(4,117,182,1) 76%, rgba(6,144,204,1) 100%);
                background: linear-gradient(to right, rgba(1,13,99,1) 0%, rgba(1,41,122,1) 27%, rgba(3,76,149,1) 53%, rgba(4,117,182,1) 76%, rgba(6,144,204,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#010d63', endColorstr='#0690cc', GradientType=1 );
            }
        }
        .box-form{
            border: 1px solid #0070b7;
            border-top: none;
            padding: 50px 0;
            .group-1,.group-2{
                display: flex;
                justify-content: space-around;
            }
            .mainpage-form{
                width: 30%;
                font-size: 18px;
                label{
                    display: block;
                    margin: 10px 0;
                    color: #6d6d6d;
                    span{
                        color: red;
                    }
                }
                input{
                    display: block;
                    margin: 10px 0;
                    padding: 10px 5px;
                    width: 100%;
                    border:  1px solid #6d6d6d;
                    border-radius: 5px;
                    &:hover,&:focus{
                        outline: none;

                    }
                    &:focus{
                        box-shadow: 0px 0 4px 0px #0070b7; 
                    }
                }
            }
        }
    }
    .btn-next{
        margin: 50px 0;
        button{
            display: block;
            margin: 0 auto;
            border: none;
            outline: none;
            cursor: pointer;
            color: #fff;
            font-size: 23px;
            padding: 10px 45px;
            background-color: #0070b7;
            border-radius: 40px;
            &:hover{
                background-color: #022778;
            }
        }

    }
    
}
.contain{
    background: rgba(236, 236, 236, 0.76);
    padding: 4.5rem 15rem;
    .main{
        .container {
            display: flex;
            flex-wrap: wrap;
        }
        background: white;
        .header__contain{
            h1{
                font-family: sans-serif;
                background: linear-gradient( to right ,#01186d, #034690, #068dc8);
                color: white;
                padding: 15px 30px;
                font-size: 4.5rem;
            }
        }
        .input-text{
            width: 100%;
        }
        form{
            width: 50%;
            font-size: 2.4rem;
            padding: 6rem;
            color: #6d6d6d;
           span{
               color: red;
           }
           input{
            display: block;
            margin: 10px 0;
            padding: 10px 5px;
            width: 100%;
            border:  1px solid #6d6d6d;
            border-radius: 5px;
            &:hover,&:focus{
                outline: none;

            }
            &:focus{
                box-shadow: 0px 0 4px 0px #0070b7; 
            }
        }
            #textarea{
                max-width: 100%;
                min-width: 100%;
                max-height: 17rem;
                min-height: 17rem;
            }
        }
        p {
            font-size:3rem;
            color: #6d6d6d;
            display: block;
            // height: 6rem;
            // margin: 2rem 0;
        }
        .checkbox{
            margin: 0 6rem;
            font-size:2rem;
        }
        .rules{
            width: 100%;
            padding:0 6rem;
            font-size: 1.6rem;
            textarea{
                max-width: 100%;
                min-width: 100%;
                height: 17rem;
            }

        }
        .check__agree {
            // margin: 0 auto;
            // padding-left: 2rem; 
            text-align: left;
            color: rgba(0, 0, 0, 0.7);
            // font-style: italic;
        }
        .submit{
            display: flex;
            justify-content: center;
            padding: 4.5rem 0;
            .btn-submit {
                text-decoration: none;
                color: white;
                font-size: 3rem;
                background: linear-gradient( to right ,#03529a, #0691cc);
                font-weight: 700;
                padding: 2rem 13rem;
                display:inline-block;
                border-radius: 4rem;
                outline: none;
                // margin: auto;
            }
        }

    }
}
footer{
    background: linear-gradient( to right ,#01186d, #034690, #068dc8);
    padding: 2rem;
}

@media only screen and (max-width: 2000px){
    .contain{
        padding: 4.5rem 7rem;
        .main{
            p{
                font-size: 1.8rem;
                height: 3rem;
                // margin: 2rem 0;
            }
        }
    }
}
.layout{
    .container{
        // width: 1305px;
        padding: 0;
        margin: 0 7rem;
    }
}


@media only screen and (max-width: 1411px){
    .contain{
        padding: 4.5rem 17rem;
        .main{
            p{
                font-size: 1.8rem;
                height: 3rem;
                // margin: 2rem 0;
            }
        }
    }
}
.layout{
    .container{
        // width: 1305px;
        padding: 0;
        margin: 0 17rem;
    }
}
@media only screen and (max-width: 991px){
    .layout{
        .container{
            width: 100%;
            padding: 0rem 7rem;
        }
        .header{
            .container{
                margin: 0 auto;
                .logo{
                    .img-block{
                        margin: 0;
                    }
                }
                .language{
                    padding: 0;
                }
            }
        }
    }
}
    .contain{
        .main{
            .submit{
                .btn-submit{
                    font-size: 2rem;
                    padding: 2rem 3rem;
                }
            }
        }
    }
@media only screen and (max-width: 767px){
    .layout{
        .header{
            .container{
                display: block; 
                .logo{
                    .img-block{
                        margin: 50px auto;
                    }
                }
                .language{
                    display: flex;
                    justify-content: center;
                    .img-block{
                        width: 90px;
                        height: 60px;
                        img {
                            max-width: 100%;
                            max-height: 100% ;
                        }
                    }
                    .tiengviet{
                        &:before{
                            content: '';
                            height: 80px;
                        }
                    }
                }
            }
        }
    }
    .contain{
        padding: 4.5rem 2rem;
        .main{
            .header__contain{
                h1{
                    font-size: 3.5rem;
                }
            }
            p{
                font-size: 1.8rem;
                height: 3.5rem;
                // margin: 1.5rem;
            }
            form{
                width: 100%;
                padding:2rem !important;
            }
            .submit{
            .btn-submit{
                font-size: 2rem;
                padding: 2rem 3rem;
            }
            // .rules {
            //     padding:0 2rem !important;
            // }
        }
        }
    }
}
